<div class="welcome">
  <h1>Crashbox returns HTTP Status Codes on demand</h1>
  <h2>crashbox.io/204 // "No Content" :(</h2>
</div>

<div class="explination">
  <p>Put in your valid desired error code, and you'll get it returned back to you.</p>
  <p>For example, if you want a 506 error, go to crashbox.io/506</p>
  <p>Want a 101 error? crashbox.io/101</p>
</div>